<div class="row">
    <div class="col">
        <h1>Evento - MLB</h1>
    </div>
</div>

<div class="row">
    <div class="col l12 s12 md12 xl12">
        <div class="card horizontal">
            <div class="card-stacked">
                <div class="card-image">
                </div>
                <div class="card-content">
                    <div class="row" >
                        <div class="col s6 l6 xl6 m6" style="text-align: center;">
                            <a href="#" onclick ="apretaste.send({command: 'BASEBALL TEAM', data: {id: '<%= event.home.id %>'}});">
                                <img style="height:10rem;" class="responsive-img" src="{{APP_SERVICE_PATH}}/images/MLB_TEAM_<%= event.home.abbreviation %>.png">
                            </a>
                            <span id="versus">VS</span>
                        </div>
                        <div class="col s6 l6 xl6 m6" style="text-align: center;">
                            <a href="#"  onclick ="apretaste.send({command: 'BASEBALL TEAM', data: {id: '<%= event.visitor.id %>'}});">
                                <img style="height:10rem;" class="responsive-img" src="{{APP_SERVICE_PATH}}/images/MLB_TEAM_<%= event.visitor.abbreviation %>.png">
                            </a>
                        </div>
                    </div>
                     <h3 align="center"><%= event.name %></h3>
                     <p align="center"><%= event.date %></p>
                     <table class="table striped">
                         <thead>
                             <tr>
                                 <% for (var l=0; l < event.scores.length; l++) { %>
                                     <td><%= l+1 %></td>
                                 <% } %>
                                 <td>R</td><td>E</td><td>H</td></tr>
                         </thead>
                         <tbody>
                             <% for(t=0; t<2; t++) { %>
                                 <tr>
                                    <% for (var l=0; l < event.scores.length; l++) { %>
                                        <td><%= event.scores[l][t] %></td>
                                    <% } %>
                                     <td><%= event.statistics[t].R %></td>
                                     <td><%= event.statistics[t].E %></td>
                                     <td><%= event.statistics[t].H %></td>
                                 </tr>
                             <% } %>
                         </tbody>
                     </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="apretaste.send({command: 'BASEBALL', data: {query: ''}});">
        <i class="material-icons">arrow_back</i>
    </a>
</div>
