<div class="row">
    <div class="col">
        <h1>Eventos - <%= league.abbreviation %>></h1>
    </div>
</div>

<div class="row">
	<div class="col s12">
		<ul class="tabs tabs-fixed-width">
            <% if(eventsType == 'past') { %>
                <li class="tab disabled"><a class="active" href="#">Resultados</a></li>
                <li class="tab"><a href="#" onclick="apretaste.send({command: 'BASEBALL EVENTS', data:{league: <%= league.id %>, type: 'future'}})">Próximos</a></li>
            <% } else { %>
                <li class="tab"><a href="#" onclick="apretaste.send({command: 'BASEBALL EVENTS', data:{league: <%= league.id %>, type: 'past'}})">Resultados</a></li>
                <li class="tab disabled"><a class="active" href="#">Próximos</a></li>
            <% } %>
		</ul>
	</div>
</div>

<div class="row">
    <div class ="col l12 m12 s12">
        <table class="striped">
        <% for(var i=0; i < events.length; i++) { var event = events[i]; %>
            <tr>
                <td><%= event.date %></td>
                <td><%= event.home %> (<%= event.home_score %>) vs <%= event.visitor %> (<%= event.visitor_score %>)</td>
            </tr>
        <% }%>
        </table>
    </div>
</div>
