<div class="row">
	<div class="col s12">
		<ul class="tabs tabs-fixed-width">
			<li class="tab"><a href="#" onclick="apretaste.send({command:'BASEBALL POSICIONES'})">Posiciones</a></li>
			<li class="tab"><a href="#" class="active">Juegos</a></li>
			<li class="tab"><a href="#" onclick="apretaste.send({command:'BASEBALL LIDERES'})">Líderes</a></li>
		</ul>
	</div>

	<!-- FILTERS -->
	<div class="col s12 space-top">
		<div class="chip tiny"><%= filter.charAt(0).toUpperCase() + filter.slice(1) %></div>
	</div>

	<% if (items.length < 1) { %>
		<div class="row">
			<div class="col s12 center">
				<p class="middle-center grey-text">No encontramos juegos para la b&uacute;squeda solicitada.</p>
			</div>
		</div>
	<% }%>

	<!-- GAMES -->
	<div class="col s12">

		<% for(var i in items) { var item = items[i]; %>
			<div class="card">
				<div class="card-person grey lighten-5">
					<span class="chip tiny clear"><i class="fas fa-calendar"></i> <%= item.date /*moment(item.date).format('D [de] MMMM [del] YYYY')*/ %></span>
				</div>
				<div class="card-content small-padding">
					<% for(var j in item.games) { var game =  item.games[j]; %>
						<ul class="collection teams clean">
							<li class="collection-item avatar col s6">
								<img class="circle" src="{{APP_SERVICE_PATH}}/images/<%= game.teamA %>.jpg" alt="<%= game.teamA %>">
								<span class="title"><%= game.teamA %></span>
								<p class="blue-grey-text"><%= game.scoreA %> puntos</p>
							</li>
							<li class="collection-item avatar col s6">
								<img class="circle" src="{{APP_SERVICE_PATH}}/images/<%= game.teamB %>.jpg" alt="<%= game.teamB %>">
								<span class="title"><%= game.teamB %></span>
								<p class="blue-grey-text"><%= game.scoreB %> puntos</p>
							</li>
						</ul>
					<% } %>
				</div>
			</div>
		<% } %>
	</div>
</div>

<!-- BUTTONS -->

<div class="bottom-space"></div>

<div class="fixed-action-btn">
	<a class="btn-floating btn-large green modal-trigger" href="#searchModal">
		<i class="large material-icons">search</i>
	</a>
</div>

<!-- SEARCH MODAL -->

<div id="searchModal" class="modal bottom-sheet fullscreen">
	<div class="modal-content">
		<p>Escoja un filtro</p>
		<div class="checks">
			<span value="recientes" class="check chip spacing active">Recientes</span>
			<span value="hoy" class="check chip spacing">Hoy</span>
			<span value="pasados" class="check chip spacing">Pasados</span>
			<span value="futuros" class="check chip spacing">Futuros</span>
			<span value="todos" class="check chip spacing">Todos</span>
		</div>
	</div>

	<div class="modal-footer">
		<a href="#!" class="modal-close waves-effect btn-flat">Cerrar</a>
		<a href="#!" class="waves-effect green-text btn-flat" onclick="searchByTag()">Buscar</a>
	</div>
</div>
