<div class="row">
    <div class="col">
        <h1>Eventos - MLB</h1>
    </div>
</div>

<div class="row">
    <div class="col">
        <% for(var i =0; i< events.length; i++) { var event = events[i]; %>
        <div class="row">
            <div class="col s6 l6 xl6 m6">
                <a href ="apretaste.send({command: 'BASEBALL MLBTEAM', data: {query: '<%= event.competitions[0].competitors[0].team.id %>'}});">
                    <img class="responsive-img" src="{{APP_SERVICE_PATH}}/images/MLB_TEAM_<%= event.competitions[0].competitors[0].team.abbreviation %>.png">
                </a>
                <span>VS</span>
            </div>
            <div class="col s6 l6 xl6 m6">
                <a href ="apretaste.send({command: 'BASEBALL MLBTEAM', data: {query: '<%= event.competitions[0].competitors[1].team.id %>'}});">
                    <img class="responsive-img" src="{{APP_SERVICE_PATH}}/images/MLB_TEAM_<%= event.competitions[0].competitors[1].team.abbreviation %>.png">
                </a>
            </div>
        </div>
        <h3><%= event.shortName %></h3>
        <p><%= event.name %></p>
        <% } %>
    </div>
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="apretaste.send({command: 'BASEBALL', data: {query: ''}});">
        <i class="material-icons">arrow_back</i>
    </a>
</div>
