<div class="row">
    <div class="col">
        <h1>Eventos - MLB</h1>
    </div>
</div>

<div class="row">
    <div class="col l12 s12 md12 xl12">
        <% for(var i =0; i< events.length; i++) { var event = events[i]; %>
            <% for(var j =0; j<  event.competitions.length; j++) { %>
                <% var competition = event.competitions[j]; %>
                    <div class="card horizontal">
                        <div class="card-stacked">
                            <div class="card-image">
                            </div>
                            <div class="card-content">
                                <div class="row" >
                                    <div class="col s6 l6 xl6 m6" style="text-align: center;">
                                        <a href ="apretaste.send({command: 'BASEBALL MLBTEAM', data: {query: '<%= competition.competitors[0].team.id %>'}});">
                                            <img style="height:10rem;" class="responsive-img" src="{{APP_SERVICE_PATH}}/images/MLB_TEAM_<%= event.competitions[0].competitors[0].team.abbreviation %>.png">
                                        </a>
                                        <span id="versus">VS</span>
                                    </div>
                                    <div class="col s6 l6 xl6 m6" style="text-align: center;">
                                        <a href ="apretaste.send({command: 'BASEBALL MLBTEAM', data: {query: '<%= competition.competitors[1].team.id %>'}});">
                                            <img style="height:10rem;" class="responsive-img" src="{{APP_SERVICE_PATH}}/images/MLB_TEAM_<%= event.competitions[0].competitors[1].team.abbreviation %>.png">
                                        </a>
                                    </div>
                                </div>
                                 <h3 align="center"><%= event.shortName %></h3>
                                 <p align="center"><%= event.name %></p>
                                 <p align="center"><%= competition.date %></p>
                                 <table class="table striped">
                                     <thead>
                                         <tr><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td><td>8</td><td>9</td>
                                             <% for (var x= 0; x < competition.competitors[0].statistics.length; x++) { %>
                                                <td><%= competition.competitors[0].statistics[x].abbreviation %></td>
                                             <% } %>
                                         </tr>
                                     </thead>
                                     <tbody>
                                         <% for(var k=0; k < competition.competitors.length; k++) { var competitor = competition.competitors[k]; %>
                                         <tr>
                                            <% for (var l=0; l < competitor.linescores.length; l++) { %>
                                                <td><%= competitor.linescores[l].value %></td>
                                            <% } %>

                                            <% for (var s= 0; s < competitor.statistics.length; s++) { var statistic = competitor.statistics[s]; %>
                                              <td><%= statistic.displayValue %></td>
                                            <% } %>
                                         </tr>
                                         <% } %>
                                     </tbody>
                                 </table>
                            </div>
                        </div>
                    </div>
            <% } %>
        <% } %>
    </div>
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="apretaste.send({command: 'BASEBALL', data: {query: ''}});">
        <i class="material-icons">arrow_back</i>
    </a>
</div>
