<div class="row">
    <div class="col">
        <h1>Equipos - MLB</h1>
    </div>
</div>

<div class="row">
    <% for(var i =0; i< sports[0].leagues[0].teams.length; i++) { var team = sports[0].leagues[0].teams[i].team; %>
        <div class="col s12">
		<div class="card horizontal">
			<div class="card-image">
				<img src="{{APP_SERVICE_PATH}}/images/<%= team.abbreviation %>.png">
			</div>
			<div class="card-stacked">
				<div class="card-content">
					<span class="card-title grey-text text-darken-4" onclick="apretaste.send({command: 'BASEBALL MLBTEAM', data: {query: '<%= team.id %>'}});">
						<%= team.displayName %>
					</span>
					<p>
                        <i style="color:#<%= team.color %>;">supervisor_account</i><%= team.abbreviation %>
					</p>
				</div>
				<div class="card-action">
					<a href = "#!" onclick="apretaste.send({command: 'BASEBALL MLBTEAM', data: {query: '<%= team.id %>'}});">Ver</a>
				</div>
			</div>
		</div>
	</div>
    <% } %>
</div>
