<div class="row">
	<div class="col s12 center">
		<img src="{{APP_SERVICE_PATH}}/images/SNB.png">
		<h1>Liga Cubana</h1>
		<p>
            SNB - <%= formatDate(Date.now()) %>
          <br>
			<img class="flag" src="{{APP_RESOURCES}}/images/flags/cu.png"/> Cuba
		</p>
	</div>
</div>

<% for(var x=0; x < ligas.length; x++) { var liga = ligas[x]; %>
  <div class="row">
    <div class="col s12 l12 m12 x12">
      <h2><%= liga.titulo %></h2>
    </div>
  </div>
  <% for(var i = 0; i < liga.etapas.length; i++) { var etapa = liga.etapas[i]; %>
  <% if (!etapa) continue; %>
    <div class="row">
      <div class="col s12 l12 m12 x12">
         <h3 style="margin:0;"><%= etapa.tituloEtapa %></h3>
        <table class="datatable display compact" width="100%">
          <% for(var j=0; j < etapa.tablaEtapa.length; j++) { var fila = etapa.tablaEtapa[j]; %>
           <% if(j == 0) { %>
            <thead>
              <tr>
                <% for(var k=0; k < fila.length; k++) { var columna = fila[k]; %>

                  <% if(k == 0) { %>
                    <td></td>
                  <% } %>

                  <td font-size="2">
                    <strong><%= columna %></strong>
                  </td>
                  <% if (k == 4 || k == 8) { %>
                    </tr><tr><td></td><td></td>
                  <% } %>
                <% } %>
              </tr>
              </thead>
          <% } else { %>
            <% if(j == 1) { %> <tbody> <% } %>
            <tr>
              <% for(var k=0; k < fila.length; k++) { var columna = fila[k]; %>

                <td font-size="2">
                  <%= columna %>
                </td>

              <% if (k == 5 || k == 9) { %>
                </tr><tr><td></td><td></td>
              <% } %>
              <% } %>
            </tr>
          <% } %>
         <% } %>
          </tbody>
        </table>
      </div>
    </div>
  <% } %>
<% } %>

<div class="row">
  <div class="col s12 l12 m12 x12">
    <table style="text-align:center" width="100%">
      <tr>
        <td>
          <font size="2"><b>JJ:</b>Juegos Jugados</font>
        </td>
        <td>
          <font size="2"><b>AVE:</b>Promedio de Victorias</font>
        </td>
      </tr>
      <tr>
        <td>
          <font size="1"><b>JG:</b>Juegos Ganados</font>
        </td>
        <td>
          <font size="1"><b>JP:</b>Juegos Perdidos</font>
        </td>
      </tr>
      <tr>
        <td>
          <font size="1"><b>VIS</b>Visitador</font>
        </td>
        <td>
          <font size="1"><b>HOME:</b>Homeclub</font>
        </td>
      </tr>
      <tr>
        <td>
          <font size="1"><b>CA:</b>Carreras Anotadas</font>
        </td>
        <td>
          <font size="1"><b>CP:</b>Carreras Permitidas</font>
        </td>
      </tr>
      <tr>
        <td>
          <font size="1"><b>DIF:</b>Diferencia</font>
        </td>
        <td>
          <font size="1"><b>R:</b>Racha actual</font>
        </td>
      </tr>
      <tr>
        <td colspan="2"><b>CDIF:</b>Diferencia de Carreras</font>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="apretaste.send({command: 'BASEBALL'});">
        <i class="material-icons">arrow_back</i>
    </a>
</div>
