<div class="row">
	<div class="col s12 center">
		<img src="{{APP_SERVICE_PATH}}/images/MLB.png">
		<h1>Major League Baseball</h1>
		<p>
            MLB - <%= formatDate(Date.now()) %>
			<br>
			<img class="flag" src="{{APP_RESOURCES}}/images/flags/us.png"/> USA
		</p>
	</div>
</div>

<ul class="tabs tabs-fixed-width">
    <li class="tab"><a href="#!" onclick="apretaste.send({command: 'BASEBALL MLB', data: {query: 'jornada <%= formatDate(Date.now()) %>'}});">Jornada Actual</a></li>
    <li class="tab"><a href="#!" onclick="apretaste.send({command: 'BASEBALL MLB', data: {query: 'jornada <%= formatDate(tomorrowDate()) %>'}});">Pr&oacute;xima Jornada</a></li>
</ul>

<% for(var n = 1; n < 7; n++) { %>
	<% if (n==1) { %>
  		<div class="row">
    		<div class="col s12 l12 m12 x12">
			  <h2><%= nombresLigas[0] %></h2>
			</div>
  		</div>
	<% } else if (n == 4) { %>
  		<div class="row">
    		<div class="col s12 l12 m12 x12">
      			<h2><%= nombresLigas[1] %></h2>
    		</div>
  		</div>
  	<% } %>

	<div class="row">
	  <div class="col s12 l12 m12 x12">
        <table class="table striped centered">
          <tr>
			<% for (var i = 1 + (n - 1) * 12; i <= 13 +(n - 1) * 12; i++) { %>
				<% if (i == 1 + (n - 1) * 12) { %>
				  <th width="40px">
					<strong> <%= ligas.firstColum[(n - 1) * 6] %></strong>
				  </th>
				<% } else { %>
					<% if (i - 2 - (n - 1) * 12 == 4) { %>
					  <th width="30px">
						<strong>LOC</strong>
					  </th>
					<% } else { %>
					<th width="40px">
					  <strong><%= ligas.headers[i - 2 - (n - 1) * 12] %></strong>
					</th>
					<% } %>
				<% } %>
			<% } %>
			</tr>
			<% for(var j = 1 + (n - 1) * 5; j <= 5 + (n - 1) * 5; j++) { %>
				<tr>
					<% for(var k = ((j - 1) * 12); k<= (12 + (j - 1) * 12); k++) { %>
						<% if (k == (j - 1) * 12) { %>
						<td>
							<font size="2"><%= ligas.firstColum[j + (n - 1)] %></font>
						</td>
						<% } else { %>
						<td>
							<font size="2"><%= ligas.data[k - 1] %></font>
						</td>
						<% } %>
					<% } %>
				</tr>
			<% } %>
		</table>
      </div>
    </div>
<% } %>
    <div class="row">
      <div class="col s12 l12 m12 x12">
        <table style="text-align:center" width="100%">
          <tr>
            <td>
              <font size="2">
                <b>LA</b>Liga Americana</font>
            </td>
            <td>
              <font size="2">
                <b>LN</b>Liga Nacional</font>
            </td>
          </tr>
          <tr>
            <td>
              <font size="1">
                <b>G:</b>Juegos Ganados</font>
            </td>
            <td>
              <font size="1">
                <b>P:</b>Juegos Perdidos</font>
            </td>
          </tr>
          <tr>
            <td>
              <font size="1">
                <b>%:</b>Porcentaje de Victorias</font>
            </td>
            <td>
              <font size="1">
                <b>JD:</b>Juegos Detrás</font>
            </td>
          </tr>
          <tr>
            <td>
              <font size="1">
                <b>LOC:</b>Récord como Local</font>
            </td>
            <td>
              <font size="1">
                <b>VISITANTE:</b>Record de visitante</font>
            </td>
          </tr>
          <tr>
            <td>
              <font size="1">
                <b>CF:</b>Carreras a favor</font>
            </td>
            <td>
              <font size="1">
                <b>CC:</b>Carreras en contra</font>
            </td>
          </tr>
          <tr>
            <td>
              <font size="1">
                <b>DIF:</b>Diferencia de carreras</font>
            </td>
            <td>
              <font size="1">
                <b>R:</b>Racha actual</font>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <font size="1">
                <b>U10:</b>Récord de los 10 últimos juegos</font>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col s12 l12 m12 x12">
        <h2>L&iacute;deres de la MLB</h2>
      </div>
    </div>
    <% for(var i=0; i < leagueStats.length; i++) {
        var tableStat = leagueStats[i];
        if(tableStat) { %>
        <div class="row">
          <div class="col s12 l12 m12 x12">
            <table width="100%" border="0">
				<% for (var j=0; j < tableStat.length; j++) { var tr = tableStat[j]; %>
              <tr>
                <% for(var k=0; k < tr.length; k++) {
                  var td = tr[k];
                  if (k==0) { %>
                    <th align="left">
                      <strong>
                        <%= td %>
                      </strong>
                    </th>
                    <% } else { %>
                      <td>
                        <%= td %>
                      </td>
                    <% } %>
                  <% } %>
              </tr><% } %></table>
          </div>
        </div>
        <% } %>
          <% } %>
    <!-- back floating button -->
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="apretaste.send({'command':'BASEBALL'})">
            <i class="material-icons">arrow_back</i>
        </a>
    </div>
