<div class="row">
    <div class="col">
        <h1>Equipos - MLB</h1>
    </div>
</div>

<div class="row">
    <% for(var i =0; i< teams.length; i++) { var team = teams[i]; %>
        <div class="col s12">
		<div class="card horizontal">
			<div class="card-image">
				<img src="{{APP_SERVICE_PATH}}/images/MLB_TEAM_<%= team.abbreviation %>.png">
			</div>
			<div class="card-stacked">
				<div class="card-content">
                    <span style="color: white; background: #<%= team.color %>;padding:5px;float:right;"><%= team.abbreviation %></span>
					<span class="card-title grey-text text-darken-4" onclick="apretaste.send({command: 'BASEBALL TEAM', data: {id: '<%= team.id %>'}});">
						<%= team.name %>
					</span>
					<p>
                        <i class="material-icons" style="color:#<%= team.color %>; border: 1px solid #eee;">label</i>
                        <i class="material-icons" style="color:#<%= team.alternate_color %>; border: 1px solid #eee;">label</i>
					</p>
				</div>
				<div class="card-action">
					<a href = "#!" onclick="apretaste.send({command: 'BASEBALL TEAM', data: {id: '<%= team.id %>'}});">Ver</a>
					<a href = "#!" onclick="apretaste.send({command: 'BASEBALL TEAMRECORDS', data: {id: '<%= team.id %>'}});">Records</a>
					<a href = "#!" onclick="apretaste.send({command: 'BASEBALL PLAYERS', data: {team: '<%= team.id %>'}});">Miembros</a>
				</div>
			</div>
		</div>
	</div>
    <% } %>
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="apretaste.send({command: 'BASEBALL', data: {query: ''}});">
        <i class="material-icons">arrow_back</i>
    </a>
</div>
